In [2]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.base import BaseEstimator,TransformerMixin
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [3]:
data=pd.read_csv('D:/Inuron/Internships/adult_income/notebooks/income.csv')

In [5]:
data['relationship'].unique()

array([' Not-in-family', ' Husband', ' Wife', ' Own-child', ' Unmarried',
       ' Other-relative'], dtype=object)

In [3]:
data['salary'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [4]:
data.head()

,Unnamed: 0.1,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
data.columns=data.columns.str.strip()

In [6]:
data=data.apply(lambda x: x.str.strip() if x.dtype =='object' else x)

In [7]:
data['salary']=data['salary'].replace({'<=50K':0,'>50K':1})

In [8]:
#data=data.drop(columns=['Unnamed: 0.1','Unnamed: 0','education'],axis=1)

In [9]:
data.head()

,Unnamed: 0.1,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [58]:
data['country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [ ]:
class Imputer(BaseEstimator,TransformerMixin):
    def fit(self,df):
        return self
    def transform(self,df):
        df[]

In [10]:
x=data.drop(['salary'],axis=1)
y=data['salary']

In [11]:
categorical_columns=x.select_dtypes(include='object').columns
numerical_columns=x.select_dtypes(exclude='object').columns
drop_columns=['Unnamed: 0.1','Unnamed: 0','education']

In [48]:
categorical_columns

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'country'],
      dtype='object')

In [52]:
data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'age', 'workclass', 'fnlwgt', 'education',
       'education-num', 'marital-status', 'occupation', 'relationship', 'race',
       'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'country',
       'salary'],
      dtype='object')

In [ ]:
class Imputer(BaseEstimator,TransformerMixin):
    def fit(self,df):
        return self
    def tramsform(self,df):
        df['age']=df['age'].fillna(df['age'].median())
        df['workclass']=df['workclass'].fillna(df['workclass'].mode()[0])
        df['marital-status']=df['marital-status'].fillna(df['marital-status'].mode()[0])
        df['occupation']=df['occupation'].fillna(df['occupation'].mode()[0])
        df['race']=df['race'].fillna(df['race'].mode()[0])
        df['relationship']=df['relationship'].fillna(df['relationship'].mode()[0])
        df['sex']=df['sex'].fillna(df['sex'].mode()[0])

        return df
columns=['age',]

In [12]:
class drop_column(BaseEstimator,TransformerMixin):
    def __init__(self,columns):
        self.columns=columns
    def fit(self,data):
        return self
    def transform(self,data):
        for i in self.columns:
            data.drop(i,axis=1,inplace=True)
        return data

In [13]:
class make_salary_binary(BaseEstimator,TransformerMixin):
    def __init__(self,target_column):
        self.target_column=target_column        
    def fit (self,data):
        return self
    def transform(self,data):
        data[self.target_column]=data[self.target_column].replace({'<=50K':0,'>50K':1})
        return data

In [14]:
class FeatureScaling(BaseEstimator,TransformerMixin):
    def __init__(self,columns):
        self.columns=columns
    def fit(self,X,y=None):
        return self
    def transform(self,X):
        X_scaled=X.copy()
        scaler=StandardScaler()
        X_scaled[self.columns]=scaler.fit_transform(X[self.columns])
        return X_scaled

In [15]:
class remove_spaces(BaseEstimator,TransformerMixin):
    def __init__(self,data):
        self.data=data

    def fit(self,X,y=None):
        return self
    def transform(self,X,y=None):
        data=X.copy()
        data.columns=data.columns.str.strip()
        data=data.apply(lambda x: x.str.strip() if x.dtype =='object' else x)
        mode=data['workclass'].mode().values[0]
        mode1=data['country'].mode().values[0]
        data['workclass']=data['workclass'].replace('?',mode)
        data['country']=data['country'].replace('?',mode1)

        return data

In [16]:
class drop_column(BaseEstimator,TransformerMixin):
    def __init__(self,columns):
        self.columns=columns
    def fit(self,data):
        return self
    def transform(self,data):
        for i in self.columns:
            data.drop(i,axis=1,inplace=True)
        return data

In [17]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder

class onehot_encoder(BaseEstimator, TransformerMixin):
    def __init__(self, columns):
        self.columns = columns
    
    def fit(self, data):
        return self
    
    def transform(self, data):
        data_encode = data.copy()
        for col in self.columns:
            enc = OneHotEncoder(drop='first', handle_unknown='ignore', sparse=False)  # Correct handle_unknown and sparse parameters
            encoded_data = enc.fit_transform(data[[col]])  # Use fit_transform with a DataFrame
            feature_names = enc.get_feature_names_out([col])  # Correct method name and pass column name as a list
            data_encode.drop(col, axis=1, inplace=True)  # Drop the original column
            data_encode[feature_names] = encoded_data  # Add the one-hot encoded columns
        return data_encode

In [18]:
from sklearn.base import BaseEstimator, TransformerMixin

class outlier_removal(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self

    def transform(self, X):
        df = X.copy()
        for col in df.columns:
            q1 = df[col].quantile(0.25)
            q3 = df[col].quantile(0.75)
            IQR = q3 - q1
            lower_bound = q1 - 1.5 * IQR
            upper_bound = q3 + 1.5 * IQR

            df = df[(df[col] >= lower_bound) & (df[col] <= upper_bound)]
        return df

In [19]:
from imblearn.over_sampling import RandomOverSampler
from sklearn.base import BaseEstimator, TransformerMixin

class balance(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self

    def transform(self, data):
        x = data.drop('salary', axis=1)
        y = data['salary']
        random_sampling = RandomOverSampler()
        x_sampled, y_sampled = random_sampling.fit_resample(x, y)

        # Combine the features and target into a single DataFrame
        balanced_data = x_sampled.copy()
        balanced_data['salary'] = y_sampled

        return balanced_data

In [20]:
balance()

balance()

In [21]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler

In [22]:
numerical_columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'age', 'fnlwgt', 'education-num',
       'capital-gain', 'capital-loss', 'hours-per-week'],
      dtype='object')

In [23]:
categorical_columns

Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'country'],
      dtype='object')

In [24]:
drop_columns

['Unnamed: 0.1', 'Unnamed: 0', 'education']

In [25]:
    #('feature_scaling', FeatureScaling(columns=['Delivery_person_Age', 'Delivery_person_Ratings', 'distance']))

In [26]:
pipeline=Pipeline([
    ('drop_columns',drop_column(drop_columns)),
    ('Remove_spaces',remove_spaces(data)),
    ('One_hot',onehot_encoder(columns=['workclass','marital-status', 'occupation',
       'relationship', 'race', 'sex', 'country'])),
    ('FeatureScaling',FeatureScaling(columns=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']))
    
])

In [27]:
print(data.columns)

Index(['Unnamed: 0.1', 'Unnamed: 0', 'age', 'workclass', 'fnlwgt', 'education',
       'education-num', 'marital-status', 'occupation', 'relationship', 'race',
       'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'country',
       'salary'],
      dtype='object')

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=10)

In [30]:
len(x_train['country'].unique())

42

In [31]:
x_test.loc[:200,'country']='Holand-Netherlands'

In [32]:
len(x_test['country'].unique())

42

In [ ]:
x_test['race']

In [60]:
x_test.columns

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'workclass_Local-gov', 'workclass_Never-worked',
       'workclass_Private', 'workclass_Self-emp-inc',
       'workclass_Self-emp-not-inc', 'workclass_State-gov',
       'workclass_Without-pay', 'marital-status_Married-AF-spouse',
       'marital-status_Married-civ-spouse',
       'marital-status_Married-spouse-absent', 'marital-status_Never-married',
       'marital-status_Separated', 'marital-status_Widowed',
       'occupation_Adm-clerical', 'occupation_Armed-Forces',
       'occupation_Craft-repair', 'occupation_Exec-managerial',
       'occupation_Farming-fishing', 'occupation_Handlers-cleaners',
       'occupation_Machine-op-inspct', 'occupation_Other-service',
       'occupation_Priv-house-serv', 'occupation_Prof-specialty',
       'occupation_Protective-serv', 'occupation_Sales',
       'occupation_Tech-support', 'occupation_Transport-moving',
       'relationship_Not-in-family', 'relationship_Other-relative',
       'relationship_Own-child', 'relationship_Unmarried', 'relationship_Wife',
       'race_Asian-Pac-Islander', 'race_Black', 'race_Other', 'race_White',
       'sex_Male', 'country_Canada', 'country_China', 'country_Columbia',
       'country_Cuba', 'country_Dominican-Republic', 'country_Ecuador',
       'country_El-Salvador', 'country_England', 'country_France',
       'country_Germany', 'country_Greece', 'country_Guatemala',
       'country_Haiti', 'country_Holand-Netherlands', 'country_Honduras',
       'country_Hong', 'country_Hungary', 'country_India', 'country_Iran',
       'country_Ireland', 'country_Italy', 'country_Jamaica', 'country_Japan',
       'country_Laos', 'country_Mexico', 'country_Nicaragua',
       'country_Outlying-US(Guam-USVI-etc)', 'country_Peru',
       'country_Philippines', 'country_Poland', 'country_Portugal',
       'country_Puerto-Rico', 'country_Scotland', 'country_South',
       'country_Taiwan', 'country_Thailand', 'country_Trinadad&Tobago',
       'country_United-States', 'country_Vietnam', 'country_Yugoslavia'],
      dtype='object')

In [33]:
x_test['country_Holand-Netherlands']=0

In [34]:
y_test

11358    0
10859    0
30948    1
29811    0
18408    1
        ..
10827    0
9395     0
11468    1
15256    0
12176    0
Name: salary, Length: 6513, dtype: int64

In [35]:
x_train.head()

,Unnamed: 0.1,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country
190,190,190,38,Private,155222,Some-college,10,Divorced,Machine-op-inspct,Not-in-family,Black,Female,0,0,28,United-States
22645,22645,22645,27,Private,215955,Some-college,10,Married-civ-spouse,Adm-clerical,Husband,White,Male,2829,0,40,United-States
4802,4802,4802,25,Private,290528,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States
16052,16052,16052,51,Private,175246,HS-grad,9,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States
11580,11580,11580,71,?,100820,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,2489,15,United-States

In [ ]:
x_train['race']

In [36]:
x_train=pipeline.fit_transform(x_train)
#y_train=pipeline.fit(y_train)

d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [37]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26048 entries, 190 to 17673
Data columns (total 83 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   age                                   26048 non-null  float64
 1   fnlwgt                                26048 non-null  float64
 2   education-num                         26048 non-null  float64
 3   capital-gain                          26048 non-null  float64
 4   capital-loss                          26048 non-null  float64
 5   hours-per-week                        26048 non-null  float64
 6   workclass_Local-gov                   26048 non-null  float64
 7   workclass_Never-worked                26048 non-null  float64
 8   workclass_Private                     26048 non-null  float64
 9   workclass_Self-emp-inc                26048 non-null  float64
 10  workclass_Self-emp-not-inc            26048 non-null  float64
 11  workclass_State-gov                   26048 non-null  float64
 12  workclass_Without-pay                 26048 non-null  float64
 13  marital-status_Married-AF-spouse      26048 non-null  float64
 14  marital-status_Married-civ-spouse     26048 non-null  float64
 15  marital-status_Married-spouse-absent  26048 non-null  float64
 16  marital-status_Never-married          26048 non-null  float64
 17  marital-status_Separated              26048 non-null  float64
 18  marital-status_Widowed                26048 non-null  float64
 19  occupation_Adm-clerical               26048 non-null  float64
 20  occupation_Armed-Forces               26048 non-null  float64
 21  occupation_Craft-repair               26048 non-null  float64
 22  occupation_Exec-managerial            26048 non-null  float64
 23  occupation_Farming-fishing            26048 non-null  float64
 24  occupation_Handlers-cleaners          26048 non-null  float64
 25  occupation_Machine-op-inspct          26048 non-null  float64
 26  occupation_Other-service              26048 non-null  float64
 27  occupation_Priv-house-serv            26048 non-null  float64
 28  occupation_Prof-specialty             26048 non-null  float64
 29  occupation_Protective-serv            26048 non-null  float64
 30  occupation_Sales                      26048 non-null  float64
 31  occupation_Tech-support               26048 non-null  float64
 32  occupation_Transport-moving           26048 non-null  float64
 33  relationship_Not-in-family            26048 non-null  float64
 34  relationship_Other-relative           26048 non-null  float64
 35  relationship_Own-child                26048 non-null  float64
 36  relationship_Unmarried                26048 non-null  float64
 37  relationship_Wife                     26048 non-null  float64
 38  race_Asian-Pac-Islander               26048 non-null  float64
 39  race_Black                            26048 non-null  float64
 40  race_Other                            26048 non-null  float64
 41  race_White                            26048 non-null  float64
 42  sex_Male                              26048 non-null  float64
 43  country_Canada                        26048 non-null  float64
 44  country_China                         26048 non-null  float64
 45  country_Columbia                      26048 non-null  float64
 46  country_Cuba                          26048 non-null  float64
 47  country_Dominican-Republic            26048 non-null  float64
 48  country_Ecuador                       26048 non-null  float64
 49  country_El-Salvador                   26048 non-null  float64
 50  country_England                       26048 non-null  float64
 51  country_France                        26048 non-null  float64
 52  country_Germany                       26048 non-null  float64
 53  country_Greece                        26048 non-null  float64
 54  country_Guatemala                     26048 non-null  float64
 55  country_Haiti                         26048 non-null  float64
 56  country_Holand-Netherlands            26048 non-null  float64
 57  country_Honduras                      26048 non-null  float64
 58  country_Hong                          26048 non-null  float64
 59  country_Hungary                       26048 non-null  float64
 60  country_India                         26048 non-null  float64
 61  country_Iran                          26048 non-null  float64
 62  country_Ireland                       26048 non-null  float64
 63  country_Italy                         26048 non-null  float64
 64  country_Jamaica                       26048 non-null  float64
 65  country_Japan                         26048 non-null  float64
 66  country_Laos                          26048 non-null  float64
 67  country_Mexico                        26048 non-null  float64
 68  country_Nicaragua                     26048 non-null  float64
 69  country_Outlying-US(Guam-USVI-etc)    26048 non-null  float64
 70  country_Peru                          26048 non-null  float64
 71  country_Philippines                   26048 non-null  float64
 72  country_Poland                        26048 non-null  float64
 73  country_Portugal                      26048 non-null  float64
 74  country_Puerto-Rico                   26048 non-null  float64
 75  country_Scotland                      26048 non-null  float64
 76  country_South                         26048 non-null  float64
 77  country_Taiwan                        26048 non-null  float64
 78  country_Thailand                      26048 non-null  float64
 79  country_Trinadad&Tobago               26048 non-null  float64
 80  country_United-States                 26048 non-null  float64
 81  country_Vietnam                       26048 non-null  float64
 82  country_Yugoslavia                    26048 non-null  float64
dtypes: float64(83)
memory usage: 16.7 MB

In [38]:
x_test=pipeline.transform(x_test)

d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
d:\internship\income\venv\lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [39]:
missing_columns = set(x_train.columns) - set(x_test.columns)

# If there are missing columns, add them to the test data and set their values to 0
print(missing_columns)

set()

In [40]:
x_test.head()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,country_Holand-Netherlands,workclass_Local-gov,workclass_Never-worked,workclass_Private,...,country_Portugal,country_Puerto-Rico,country_Scotland,country_South,country_Taiwan,country_Thailand,country_Trinadad&Tobago,country_United-States,country_Vietnam,country_Yugoslavia
11358,1.439512,-0.633768,-0.399517,-0.147358,-0.223477,-1.954771,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10859,-1.144014,-1.602387,-0.399517,-0.147358,-0.223477,-0.045308,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30948,0.184657,2.378627,0.371690,0.458874,-0.223477,1.545911,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29811,1.439512,-0.047298,-0.013913,-0.147358,-0.223477,-0.045308,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18408,0.627547,-0.073286,1.914104,13.674485,-0.223477,0.750301,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
y.value_counts()

salary
0    24720
1     7841
Name: count, dtype: int64

In [42]:
from sklearn.linear_model import LogisticRegression,Lasso,Ridge,ElasticNet
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import BernoulliNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,accuracy_score,auc

In [43]:
# Assuming x_train and x_test are your training and test data DataFrames
x_test = x_test.reindex(columns=x_train.columns, fill_value=0)

# Now, make predictions using the DecisionTreeClassifier

In [44]:
dtc=DecisionTreeClassifier()
dtc.fit(x_train,y_train)
# Assuming you have already split your data into x_train, x_test, y_train, and y_test

# Check if the columns match between training and test data


# Now, make predictions using the DecisionTreeClassifier
y_pred = dtc.predict(x_test)

In [45]:
accuracy_score(y_test,y_pred)

0.8063872255489022

In [46]:
models={
    "Logistic_regression":LogisticRegression(max_iter=1000),
    "Decision_tree":DecisionTreeClassifier(),
    "SVM":SVC(),
    "Random_forest_classifier":RandomForestClassifier(),
    "Naive_bayes":BernoulliNB(),
}

In [47]:
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,roc_auc_score,f1_score
for model_name,model in models.items():
    model.fit(x_train,y_train)
    y_pred=model.predict(x_test)
    print('%'*50)
    print(f'{model_name}:')
    print('accuracy :',(accuracy_score(y_test,y_pred)*100))
    print('confusion_matrix',confusion_matrix(y_test,y_pred))
    print('Precision',(precision_score(y_test,y_pred))*100)
    print('roc_auc_score: ',(roc_auc_score(y_test,y_pred))*100)
    print('f1_score',(f1_score(y_test,y_pred)*100))
    print("\n")

%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Logistic_regression:
accuracy : 84.83033932135729
confusion_matrix [[4601  328]
 [ 660  924]]
Precision 73.80191693290735
roc_auc_score:  75.83941976060053
f1_score 65.16220028208745


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Decision_tree:
accuracy : 80.48518347919546
confusion_matrix [[4301  628]
 [ 643  941]]
Precision 59.97450605481198
roc_auc_score:  73.33282228861961
f1_score 59.689184903266735


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
SVM:
accuracy : 85.12206356517734
confusion_matrix [[4635  294]
 [ 675  909]]
Precision 75.56109725685786
roc_auc_score:  75.71083245725667
f1_score 65.23143164693218


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Random_forest_classifier:
accuracy : 84.78427759864886
confusion_matrix [[4594  335]
 [ 656  928]]
Precision 73.47585114806017
roc_auc_score:  75.89467406874589
f1_score 65.1914295749912


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
Naive_bayes:
accuracy : 78.32028251189928
confusion_matrix [[3881 1048]
 [ 364 1220]]
Precision 53.79188712522046
roc_auc_score:  77.87914138340189
f1_score 63.34371754932503